<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/0ea2c80901.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_registration</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="full_nav">
                <div class="logo">
                    <img src="images/logo.png" alt="">
                </div>
                <div class="navbar">
                    <nav>
                        <ul>
                            <li>
                                <a href="/"><span class="glyphicon glyphicon-home"></span>HOME</a>
                            </li>
                            <li>
                                <a href="/books"><span class="glyphicon glyphicon-book"></span>BOOKS</a>
                            </li>
                            <li>
                                <a href="/admin_login"><span class="glyphicon glyphicon-user"></span>ADMIN_LOGIN</a>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-edit"></span><a href="/admin_registration"
                                    class="active">ADMIN_REGISTRATION</a>
                            </li>
                            <li>
                                <a href="/feedback">FEEDBACK</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <section>
            <br><br><br><br>
            <div id="box">
                <br><br>
                <h1 style="text-align: center;font-size: 50px;letter-spacing: 2px;">Admin registration Form</h1>
                <br><br><br>
                <form name="admin_registration" action="/admin_registration" method="POST">
                    <div class="login">
                        <input type="text" name="adminname" placeholder="admin name" required=""><br><br>
                        <input type="email" name="email" placeholder="email" required=""><br><br>
                        <input type="password" name="password" placeholder="password" required=""><br><br>
                        <input type="password" name="password" placeholder="verify password" required=""><br><br>
                        <button type="submit">SignUp</button><span>{{msg1}}</span>
                    </div>
                </form>
            </div>
            <a href="#" id="scroll_top">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </a>
        </section>
        <footer>
            <br>
            <p style="text-align: center;"><a href="index.html" style="color: white;"><span
                        class="glyphicon glyphicon-arrow-up" style="color: rgb(124, 191, 223);"></span> Back to top</a>
            </p>
            <p>
                &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-link" style="color: rgb(124, 191, 223);"></span> <a
                    href="" style="color: white;text-decoration: none;">facebook</a><br>
                &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-link" style="color: rgb(124, 191, 223);"></span> <a
                    href="" style="color: white;text-decoration: none;">instagram</a><br>
                &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-link" style="color: rgb(124, 191, 223);"></span> <a
                    href="" style="color: white;text-decoration: none;">twitter</a>
            </p>
            <p style="text-align: center;color: white;font-size: 11px;">PrivacyPolicies.com © 2002 - 2021 All rights
                reserved</p>
        </footer>
    </div>
    <script>
        { { msg2 } }
        function check() {
            alert('registration successful');
            window.location = "/admin_login";
        }
    </script>
</body>

</html>