/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*......................................................*/
.wrapper{
    height: 900px;
    width : 1440px;
}
header{
    height: 120px;
    width: 1440px;
    background-color: #000;
}
section{
    height: 770px;
    width: 1440px;
    background-color: gray;
}
footer{
    height: 100px;
    width: 1440px;
    background-color: #000;
}
li *{
    color: gray;
    text-decoration: none;
}
.navbar{
    float: left;
    word-spacing: 80px;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 20px;
    height: 130px;
}
nav li{
    display: inline-block;
    line-height: 80px;
    
}
nav li a{
    text-decoration: none;
}
.logo{
    float: left;
    width: 150px;
    height: 130px;
    padding-left: 20px;
    margin-right: 110px;
}
section{
    background-image: url('images/library.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    opacity: 0.9;
}
.box{ 
    width: 650px;
    height: 450px;
    background-color: rgb(17, 11, 11);
    margin: 100px auto;
    opacity: 0.9;
    color: white;
    vertical-align: middle;
    justify-content: center;
    border-radius: 6px;
}
li a.active{
    color: white;
    border-bottom: solid rgb(17, 170, 221);
}
li a:hover:not(.active){
    color: white;
}
input{
    height: 35px;
    width: 250px;
    margin: auto;
    display: block;
    color: #000;
    padding-left: 10px;
    font-size: 20px;
}
button{
    height: 30px;
    width: 80px;
    border-radius: 0px;
    margin: auto;
    display: block;
    font-size: 20px;
    color: rgb(115, 28, 173);
}
#box{ 
    width: 700px;
    height: 500px;
    background-color: rgb(17, 11, 11);
    margin: 100px auto;
    opacity: 0.9;
    color: white;
    vertical-align: middle;
    justify-content: center;
    border-radius: 6px;
}
#scroll_top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    z-index: 100;
    border-style: content-box;
    background-color: #ff4f57;
    color: #fff;
    text-align: center;
}
#scroll_top:hover{
    background-color: #ee6b37;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    border: 1px solid white;
    background-color: aqua;
    padding: 8px;
    text-align: center;
}
td{
    text-align: center;
    padding: 4px;
    border: 1px solid white;
}
tbody tr:nth-child(even){
    background-color: rgb(151, 151, 151);
}
tbody tr:nth-child(odd){
    background-color: white;
}
#return_add_books{ 
    display: flex;
}
*{
    font-family: 'Rubik', sans-serif;
}